services:
  firestore-emulator:
    build:
      context: .
      dockerfile: firestore.Dockerfile
    command: gcloud beta emulators firestore start --host-port=0.0.0.0:8080
    ports:
      - "8080:8080"

  app:
    build: .
    depends_on:
      - firestore-emulator
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - FIRESTORE_EMULATOR_HOST=firestore-emulator:8080
      - GCP_PROJECT_ID=local-project # Project ID for the emulator
